.carousel-container
  background-color: $gc-purple
  width: 100%
  padding: 8rem 0 5rem 0

.carousel-clip
  overflow: hidden

.carousel-roll
  display: flex

.carousel-content
  display: flex

.carousel-img
  width: 50%
  display: flex
  flex-direction: column
  img
    height: 20rem
    object-fit: cover

  p
    align-self: flex-end

.carousel-text
  color: white
  display: flex
  flex-direction: column
  align-items: flex-start
  width: 50%
  padding: 0rem 7rem 0rem 5rem

.carousel-dots
  display: flex
  width: 100%
  justify-content: center

.carousel-dot
  height: 5px
  width: 5px
  background-color: white
  border-radius: 50%
  cursor: pointer
  margin: 0 1rem

@media screen and (max-width: 924px)
  .carousel-content
    flex-direction: column

  .carousel-img, .carousel-text
    width: 100%
    padding: 0
